<footer class="bg-dark-surface mt-20 py-8">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="text-center">
            <p class="text-gray-400">&copy; {new Date().getFullYear()} HOFFMANN Corentin - Tous droits réservés.</p>
        </div>
    </div>
</footer>